/voiceauthCore.egg-info/dependency_links.txt
/voiceauthCore.egg-info/entry_points.txt
/voiceauthCore.egg-info/PKG-INFO
/voiceauthCore.egg-info/requires.txt
/voiceauthCore.egg-info/SOURCES.txt
/voiceauthCore.egg-info/top_level.txt
/dist/voiceauthCore-0.7.tar.gz
/dist/voiceauthCore-0.7-py3-none-any.whl
/dist/
